body{
  background-color: Snow ;
  font-family: monaco, monospace;
}




.list-group-item{
  border-color: transparent;
  background-color:  rgb(226, 242, 255)  ;
}

.textColor{
  color: SlateGrey  ;
  font-weight: bold;
}

#scrollBar{
  background-color:  rgb(226, 242, 255)  ;
  height: 500px;
}

#mainDiv{
  background-color: rgb(226, 242, 255)  ;
  height:500px;

}



#title{
  color: lime ;
  background-color: teal  ;
  text-align: center;
  margin-left: 10px;
  border-style: solid;
  border-color: lime;
  border-width: 5px;
}


#activity-stats{
  color: teal;
  background-color: rgb(226, 242, 255)  ;
  margin-left: 10px;
  text-align: left;
}

#buttons{
  border-width: 5px;
  border-color:teal;
  margin-left:11px;
  margin-top:10px;
  margin-bottom:10px;
  

}


#startBTN{
  font-weight: bold;
}
#stopBTN{
  font-weight: bold;
  background-color: red;
  border-color: orangered;

}

#editBTN{
  font-weight: bold;
  float: right;
  background-color: teal;
  border-color: lime;

  
}
#insertBTN{
  width: 20%;
  background-color:rgb(0, 110, 255);
  height:100%;
  color: white ;
  border-style: solid;
  border-width: 3px;
  border-color:teal;
  font-weight: bold;
}
 
#deleteActivity{
  color: white;
  background-color: red;
  border-color: rgb(255, 61, 61);
  float:right;
  border-style: solid;
  border-width: 4px;
  font-weight: bold;

}
#insertTimeDiv{
  color: white;
  background-color: rgb(89, 128, 245);
  border-style: solid;
  border-color: rgb(115, 152, 255);
  border-width: 4px;
  font-weight: bold;
  border-style: solid;
  float:right;

}