body{
  background-color: Snow ;
  font-family: monaco, monospace;
}




.list-group-item{
  border-color: transparent;
  background-color:  rgb(226, 242, 255)  ;
}

.textColor{
  color: SlateGrey  ;
  font-weight: bold;
}

#scrollBar{
  background-color:  rgb(226, 242, 255)  ;
  height: 500px;
}

#mainDiv{
  background-color: rgb(226, 242, 255)  ;
  height:500px;

}



#title{
  color: white ;
  background-color: teal  ;
  text-align: center;
  margin-left: 10px;
  border-style: solid;
  border-color: lime;
  border-width: 5px;
}


#activity-stats{
  color: teal;
  background-color: rgb(226, 242, 255)  ;
  margin-left: 10px;
  text-align: left;
}

#buttons{
  border-width: 5px;
  border-color:teal;
  margin-left:11px;
  margin-top:10px;
  margin-bottom:10px;
  

}


#startBTN{
  width: 20%;
  background-color:rgb(65, 177, 61);
  height:100%;
  color: rgb(255, 255, 255) ;
  border-style: solid;
  border-width: 3px;
  border-color:teal;
  font-weight: bold;
  margin-left: 15px;
}
#stopBTN{
  width: 20%;
  background-color:rgb(184, 10, 10);
  height:100%;
  color: white ;
  border-style: solid;
  border-width: 3px;
  border-color:teal;
  font-weight: bold;
  
  
}

#editBTN{
  width: 20%;
  background-color:rgb(255, 121, 44) ;
  height:100%;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color:teal;
  font-weight: bold;
  
}
#insertBTN{
  width: 20%;
  background-color:rgb(0, 110, 255);
  height:100%;
  color: white ;
  border-style: solid;
  border-width: 3px;
  border-color:teal;
  font-weight: bold;
}
 
#deleteActivity{
  color: white;
  background-color: red;
  border-color: teal;
  padding: 6px;
  float:right;
}
 