{% extends "timer/base.html" %}
{% load static %}

{% include "activities.html" %}

{% block content %}

<link rel="stylesheet" href="{% static 'activity_detail_style.css' %}" type="text/css" />


<div id="container">
  
    <div id="title"> 
      <h1><span id="activity-title">{{ activity.activity_title }}</span></h1><br>
      <h2>TOTAL TIME: <span id="total-time">{{ activity.activity_time }}</span></h2>
    </div>
  
    <div id="activity-stats">
      <h2 id="current-time">Current Time -----  <span id="currentTime">0000:00:00.000</span></h2>
      <h2 id="current-level">Current Level ---- Absolute Beginner</h2>
      <h2 id="next-level">Next level --------- Beginner</h2>
      <h2 id="next-level-time">Level Up In ------- 0000:00:00.000</h2>
    </div>
    
    <div id="buttons">
      <button id="start-button">START</button>
      <button id="stop-button">STOP</button>
      <button id="edit-button">EDIT</button>
      <button id="insert-button">INSERT</button>
    </div>
  
  </div>

<script src="{% static 'stopwatch.js' %}" type="text/javascript"></script>
<script src="{% static 'main.js' %}" type="text/javascript"></script>
<script src="{% static 'ajaxUpdate.js' %}" type="text/javascript"></script>
{% csrf_token %}




{% endblock content %}


