{% extends "timer/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>activities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'activitiesStyle.css' %}" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
           
		<table class="table table-bordered">
			
		  <thead>
			<tr class="info">
			  <th>Activity #</th>
			  <th>Activity Title</th>
			  <th>Activity Time</th>
			</tr>
		  </thead>
		  {% for activity in activities %}
			<tbody>
				<tr class="info">
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'timer:activity_detail' activity.id %}">{{ activity.activity_title }}</a></td>
				<td>{{ activity.activity_time }}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
</div>

	

</body>
</html>
{% endblock content %}

