{% extends "timer/base.html" %}

{% block content %}

	<h1> Your Activities </h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	

	{% for activity in activities %}
	
		<a href="{% url 'timer:activity_detail' activity.id %}"> {{ activity.activity_title }} - {{ activity.activity_time }}</a> 
		
			
	<form action="{% url 'timer:activity_detail' activity.id %}" method="post">
	{% csrf_token %}
	</form>

	{% empty %}
	
		<p>You dont have any activities yet!</p>
	{% endfor %}	
	
	
	<a href="{% url 'timer:new_activity' %}"> Add a new activity</a>

{% endblock content %}



{% comment "Optional note" %}
    <input type="radio" name="activity" id="activity{{ forloop.counter }}" 
			value="{{ activity.id }}" />
			
	<label for="activity{{ forloop.counter }}">
		{{ activity.activity_title }} 
		</label><br />
{% endcomment %}