{% extends "timer/base.html" %}
{% load static %}
{% block header %}

    

{% endblock header%}

{% block content %}

<link rel="stylesheet" href="{% static 'activity_detail_style.css' %}" type="text/css" />


	<div id="activitiesList">
    	{% for activity in activities %}
		<h4><a href="{% url 'timer:activity_detail' activity.activity_title %}">{{ activity.activity_title }}</a> </h4>
		<h5>{{ activity.activity_time }}</h5>

	</div>
	
	<form action="{% url 'timer:activities'%}" method="post">{% csrf_token %}</form>

    {% empty %}
	<p>You dont have any activities yet!</p>
    {% endfor %}	

{% endblock content %}

