{% extends "timer/base.html" %}

{% block content %}

	<p>Activity Name: <b>{{activity}}</b></p> 
	<p>Activity Time: <b>{{activity.activity_time}}</b></p>
	
	<form action="{% url 'timer:activity_start' activity.id%}" method="get">
		  <input type="submit" class="btn" value="start" name="start">
	</form>
	
	 
	
	
	
	
	<form action="{% url 'timer:edit_activity' activity.id%}" method="get">
		<input type="submit" class="btn" value="edit" name="edit_button">
	</form>
	
	<form action="{% url 'timer:delete_activity' activity.id%}" method="get">
		<input type="submit" class="btn" value="delete" name="delete_button">
	</form>

{% endblock content %}