{% extends "timer/base.html" %}
{% load static %}

{% block header %}{% endblock header %}

    <h2>{{ activity }}</h2>
{% block content %}

    <link rel="stylesheet" type="text/css" href='{% static "detail_style.css" %}'>



    <h3><p>Activity Name: <b>{{activity}}</b></p> </h3>
    <h3><p>Activity Time: <b>{{activity.activity_time}}</b></p></h3>
	
    <form action="{% url 'timer:edit_activity' activity.id%}" method="get">
        <input type="submit" class="btn" value="edit" name="edit_button">
    </form>
	
    <form action="{% url 'timer:delete_activity' activity.id%}" method="get">
        <input type="submit" class="btn" value="delete" name="delete_button">
    </form>



{% endblock content %}

