{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<title>Time Tracker</title>
	
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	
<style>

	body{
	background-color: Snow ;
	font-family: monaco, monospace;
	}
	#test{
		background-color:teal;
	}

	.navbarColor{
		color:snow;
	}

</style>

	</head>
	
	<body>
	 
	<!-- Static navbar -->
	
	<nav id="test" class="navbar navbar-inverse">
	    <div class="container">
	    
	        <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed"
		        data-toggle="collapse" data-target="navbar"
		        aria-expanded="false" aria-controls="navbar">
		    </button>
		    
		    <a class="navbar-brand" href="{% url 'timer:index' %}">
		        <span class="navbarColor">Time Tracker</span></a>
			</div>

			
		
	    <div id="navbar" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
		    <li><a href="{% url 'timer:activities' %}"><b><span class="navbarColor">Activities</span></b></a></li>
		</ul>

		{% if user.is_authenticated %}
			<div id="navbar" class="navbar-collapse collapse">
	        	<ul class="nav navbar-nav navbar">
		    	<li><a href="{% url 'timer:new_activity' %}"><b><span class="navbarColor">Create Activity</span> </b></a></li>
			</ul>
		{% else %}	
			<form class="navbar-form navbar-right" method="POST" action='{% url 'users:login' %}'>{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Username"/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password"/>
				</div>
				<button type='submit' class="btn btn-default" value="{% url 'timer:index' %}">Login</button>
			</form>
		{% endif %}

		
	        <ul class="nav navbar-nav navbar-right">
		    {% if user.is_authenticated %}
		        <li><a><span class="navbarColor"> Hello, {{ user.username }}.</span></a></li>
			<li><a href="{% url 'users:logout' %}"><span class="navbarColor"> Log Out.</span></a></li>
		    {% endif %}
		</ul>
	    </div><!--/.nav-collapse -->
	    
	    </div>
	</nav>
	
	<div class="container">
	
	    <div class="page-header">
	        {% block header %}{% endblock header %}
	    </div>
	    <div>
	        {% block content %}{% endblock content %}
	    </div>
	</div><!--/container-->


	
    </body>
</html>
	    
	
















{% comment %}<p>



	<a href="{% url 'timer:index' %}"><b>Time Tracker</b></a> - 
	<a href="{% url 'timer:activities' %}"><b>Activities</b></a> - 
	{% if user.is_authenticated %}
		Hello, {{ user.username }}.
		<a href="{% url 'users:logout' %}">log out</a>
	
	{% else %}
		<a href="{% url 'users:login' %}"> log in </a> - 
		<a href="{% url 'users:register' %}"> register </a>
	{% endif %}
	
</P>

{% block content %}{% endblock content %}



{% endcomment %}