<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Form Test</title>
  </head>

  <body>
    <form method='post'>
      <input type="hidden" name="username" value="rod">
      <input type="hidden" name="password" value="asdfzxcv">
      <input type="hidden" name="formtoken" value="{{ formtoken }}">

      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname">

      <br>

      <input type="radio" name="gender" value="male" checked> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <input type="radio" name="gender" value="other"> Other

      <br>

      <input type="submit" value="Submit">

    </form>
    <br>

    First Submit, then from command line run<br>
    <pre>curl -X POST -F 'username=davidwalsh' -F 'password=something' -F 'firstname=foo' -F 'lastname=bar' -F 'gender=female' http://localhost:8000/timer/formtest/</pre>
  </body>
</html>