{% extends "timer/base.html" %}
{% load bootstrap3 %}

{% block header %}
	
<h2>Add a new activity</h2>

{% endblock header %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>activities</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<style>
		.messages{
			color: red;
			font-size: 13px;
		}
		body{
			background-color: rgb(116, 116, 116);
			color: black;
		}
	
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	{% if messages %}
		<div class="messages">
		{% for message in messages %}
			<p class="alert alert-danger" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
		</div>
	{% endif %}	

   
    <form action="{% url 'timer:new_activity' %}" method='POST' class="form">
    
	{% csrf_token %}
	{% bootstrap_form form %}
	
	{% buttons %}
	    <button name="submit" class="btn">add activity</button>
	{% endbuttons %}
	
	
    </form>
</body>
{% endblock content %}
